.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 5px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

table, th, td {
   border: 1px solid black;
}

table {
  width: 100%;
}

th, td {
  text-align: center;
  padding: 15px;
}
